<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WADNghi13A</title>
    <link rel="stylesheet" href="~/lib/bootstrap/bootstrap-cerulean.css" />
    <link rel="stylesheet" href="~/css/site.css" />
<style>
    div3 {
        height: 20px;
        background-image: linear-gradient(red, yellow);
    }

</style>
</head>


<body>
    
    <div class="menu">
        <div class="label">Menu</div>
        <div class="spacer"></div>
        <div class="item"><span><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></span></div>
        <div class="item"><span><a asp-area="" asp-controller="Personnels" asp-action="Index">Personnel</a></span></div>
        <div class="item"><span><a asp-area="" asp-controller="OneProjectOneWeeks" asp-action="Index">Project</a></span></div>
    </div>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="container-fluid text-lg-center text- align-content-between">
            <div3 class="fixed-bottom text-center">
                &copy; 2020 - WADNghi13A
            </div3>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
</body>
</html>
