@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Full Stack Application With Database</h1>
        <h2 class="display-4">WADNghi13A - Project</h2>

    </div>

