@model WADNghi13A.Models.OneProjectOneWeek

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>OneProjectOneWeek</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Employee" class="control-label"></label>
                <input asp-for="Employee" class="form-control" />
                <span asp-validation-for="Employee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project" class="control-label"></label>
                <input asp-for="Project" class="form-control" />
                <span asp-validation-for="Project" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArriveDt" class="control-label"></label>
                <input asp-for="ArriveDt" class="form-control" />
                <span asp-validation-for="ArriveDt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartureDt" class="control-label"></label>
                <input asp-for="DepartureDt" class="form-control" />
                <span asp-validation-for="DepartureDt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OneWeek" class="control-label"></label>
                <input asp-for="OneWeek" class="form-control" />
                <span asp-validation-for="OneWeek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
